@{
    ViewData["Title"] = "Home Page";
}

    <section class="d-flex h-100 hero justify-content-center">
         <div class="align-self-center">
            <h1 class="text-light">Expense <br/> Tracker</h1>
            <p class="text-light">Track and manage your each expenses.</p>
            <a asp-controller="Expense" class="btn py-2 px-4 fs-3 btn-danger" asp-action="AddExpense">Start Tracking</a>
         </div>
            <div class="hero-img flex-grow-1">
            </div>
    </section>
