* {
  box-sizing: border-box;
  margin: 0;
  color: rgba(255, 255, 255, 0.7) !important;
  font-size: 20px !important;
  padding: 0;
}

body {
  background: linear-gradient(
      to bottom,
      rgba(8, 26, 68, 1),
      rgba(3, 51, 107, 0.9),
      rgba(6, 6, 59, 0.9)
    ),
    url("/imgs/expense.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

body main {
  flex: 1;
  display: flex;
  align-items: stretch;
}

body footer {
  height: 50px;
}
.expense-container {
  @media only screen and (max-width: 600px) {
    flex-direction: column !important;
    align-items: center;
    justify-content: center;
    form {
      width: 100% !important;
    }
  }
}
form {
  width: 500px;
}

.navbar a {
  color: white;
  font-size: 2rem;
  padding: 5px 20px !important;
  border-radius: 10px;
  transition: all 0.5s ease;
}

.navbar .nav-link:hover {
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
}

.active {
  background-color: rgba(255, 255, 255, 0.3);
}

p {
  font-size: 2rem;
}

section:has(.hero-section) {
  gap: 15px;
}

.hero h1 {
  font-size: 5rem;
}
